h1 {
	text-align: left;
	padding: 10px;
	font-weight: bold;
}
h1#nomeEmpresa{
	padding-top: 25px;
	clear: both;
	font-size: 8vw;
}
#header-nav {
	background-color: lightblue;
	border-radius: 0;
	border: 0;
}

h1.title {
	text-align: center;
}

h3 {
	font-weight: bold;
	text-align: center;
}

div {
	padding: -10px;
	box-sizing: border-box;
	float: left;
	align-content: center;
}

button {
	color: black;
	border: 1px solid blue;
}

header {
	background-color: lightblue;
	margin-bottom: 20px;
	width: 100%;
}

#nav-list {
	margin-top: 10px;
}

#navbarToggleExternalContent {
	background-color: lightblue;
	text-decoration: none;
	width: 100%;
	min-width: 310px;
}

a:hover {
	text-decoration: none;
	color: black;
}

li {
	font-size: 1.5em;
	text-align: center;
}

li:hover {
	background: #E7E7E7;
}

.content {
	padding: 1%;
}

section {
	padding: 10px;
	background-color: lightblue;
	border: 1px solid lightblue;
}